
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       
        <div class="content-hd">
            <h2 class="with-border">@Model.name</h2>
        </div>
        <div class="content-bd">
            @Html.Raw(Model.description)
        </div>
    </div>
</body>
</html>
