<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConStr" value="data source=10.18.20.109;Integrated Security=;user=btcm;password=1235btcm1235;Initial Catalog=btcm;" />
  </appSettings>
</configuration>