@{
    ViewBag.Title = "机构列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Web.helper;
@using Common;
@{
    var actionName = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var manager_id = User.Identity.Name;
}
@section list
{
<div class="panel-body" style="padding-bottom:0px;">
    @Html.Raw(Html.select_auth(manager_id, actionName))
    <table id="tb_departments"></table>
</div>

}
@section add
{
@RenderPage("~/Areas/SystemManager/Views/Organization/_edit.cshtml")
}
@section js
{
<script src="~/js/lsj/organization.js"></script>
<script>
    $(document).ready(function () {
        //参数{input类名，选择类型(单选or多选)}
        $(".rdolist").labelauty("rdolist", "rdo");
        $(".chklist").labelauty("chklist", "check");

        $(".rdobox").click(function () {
            if ($(this).html() == $(".rdobox:first").html()) {
                //显示
                $("#txt_status").val("0");
            } else {
                //隐藏
                $("#txt_status").val("-1");
            }
        })
    });
    $('#myModal').on('show.bs.modal', function (e) {
        $(".chkbox").each(function () {
            $(this).prev().prop("checked", "");
            $(this).removeClass("checked");
            $(this).addClass("unchecked");
            $(this).children(".check-image").css("background", "url(../img/input-unchecked.png)");
        });
    })

</script>
<script>
    //提交的onclick,此时还可以修改表单里面的值,且后台可以获取
    function onck() {
        $('.selectpicker').selectpicker('refresh');//不加这个,默认显示无法获取

        //获取多选的值
        var action_type = "";
        $(".chkbox").each(function () {
            if ($(this).prev().prop("checked") == true) {
                action_type += $(this).children(".radiobox-content").html() + ",";
            }
        })
        if (action_type.length > 0) {
            action_type = action_type.substring(0, action_type.length - 1);
            $("#txt_action_type").val(action_type);

        } else {
            $("#txt_action_type").val('');
        }
    }


    //登录前js验证,此时修改表单里面的值后台无法获取
    function ValidateLog() {
        $.loading(true);
    }


    //登录回调函数
    function tips(data) {
        $.loading(false);

        if (data.status == 0) {
            //添加成功

            //显示模态框
            $.dialog(data.msg, 0);
            //先关闭主窗体
            $('#myModal').modal('hide')
            //刷新数据(不刷新,刷新会收起树)
            //$('#tb_departments').bootstrapTable('refresh', { url: '/Templet/GetOrganizationList' });
        } else if (data.pitchId != "") {
            point(data.pitchId, data.msg);
        } else {
            //添加失败
            $.dialog(data.msg, -1);
        }
    }

    //输出提示信息
    function point(id, content) {
        var follow = document.getElementById(id);
        var d = dialog({
            align: 'bottom',
            content: '<span class="label label-warning">!</span> ' + content
        });
        d.show(follow);
        setTimeout(function () {
            d.close().remove();
        }, 2000);
    }
</script>
}